.card{
    margin-block: 50px;

    p{
        text-align: center;
    }

}

.card-img-bottom{
    align-self: center;
}

.card-text{
    p{
        text-align: center;
    }
}


main{
    display: flex;
    flex-direction: column;
}