.navbar{
    background-color: $color3;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;

    @include Small{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: static;
    }
    @include Medium{
        flex-direction: row;
        position: sticky;
        justify-content: space-evenly;
    }

    li{
        display: inline-block;
        padding: 10px;
        font-size: 1.2rem;
        margin: 20px;

        @include Small{
            padding: 10px;
            margin: 15px;
        }
        
        a{
            text-decoration: none;
            color: $color5;
        }
    }
    ul{
        list-style: none;
        font-size: 0;
        li{
            display: none;
            position: relative;
            text-align: center;
            align-self: center;
            &:hover ul{
                display: block;
            }
            @include Large{
                display: block;
            }
            
        }
        ul{
            position: absolute;
            display: none;
            li{
                margin-left: 0px;
                background-color: $color3;
                border: 5px solid $color5;
                border-radius: 10px;
                padding: 2px;
            }
        }
        
    }
    p{
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
    }

}

.logo{
    img{
        height: 200px;
        width: 200px;
        transition: all 500ms;
        &:hover{
        
            transform: scale(1.1);
        }
    }   
}